<mat-card>
    <mat-card-content>
         <h1>{{costumname}}</h1>

        <mat-form-field>
            <mat-label for="">Counter input</mat-label>
            <input matInput [(ngModel)]="counterInput">
            
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Action</mat-label>
            <mat-select [(ngModel)]="actiontype">
                <mat-option value="Add">Addition</mat-option>
                <mat-option value="Sub">Subtract</mat-option>
            </mat-select>
            
        </mat-form-field>
        <br>
        <button mat-raised-button colo="primary" (click)="customnumber()">Proceed</button>
    </mat-card-content>
</mat-card>
